:root {
  --color-body: #333;
  --color-headers: #2B2D42;
  --color-primary: #ffb31b;
  --color-dark: #0d0d12;
  --color-dark-alt: #1E1F29;
  --color-grey: #E4E7ED;
  --color-grey-light: #FBFBFC;
  --color-grey-text: #8D99AE;
  --color-grey-text-light: #B9BABC;
  --color-white: #FFF;
  
  /* Similar Colors */
  --color-primary-light: #fab019;
  --color-primary-dark: #cd8b08;
  --color-headers-light: #3F4259;
  --color-headers-dark: #1A1B2E;
  --color-dark-light: #2A2B35;
  --color-dark-darker: #0A0A0D;
  --color-grey-lighter: #F8F9FA;
  --color-grey-dark: #A1A9B8;
} 